*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.text{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}
.nav1 , .nav2 {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5vw;
}

.nav1{
    background-color: #F8F8F8;
}
.nav2 {
padding:32px 5vw;

}

.nav1 ul{
    width: 377px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 10px;


}
.nav1 .bar , .filter-solid{
    display: none;
    cursor: pointer;
}
.nav1 .for-contact{
    width: 306px;
    display: flex;
    justify-content: space-around;

}
.no-line{
    text-decoration: none;
}
.right-border{
    border-right:#D6D6D6 solid 1px;
padding-right: 10px;
}
.nav1 .email , .nav1 .call{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav2 .container{
    max-width: 312.51px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.nav2 .container .info{
    display: flex;
    gap: 8px;
}
.info1 span{
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
}
.info1 p {
color:#333333;
font-size: 16px;
font-weight: 400;
line-height: 25px;
}
.Apple-iphone{
     display: flex; 
    padding: 45px 70px;
     gap: 42px;
       justify-content: space-around;
}
.Apple-iphone .iphone-img{
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    width: 45.0951vw;
    max-width: 616px; 
    height: auto;
}
.Apple-iphone .details{
   width: 42.8989vw;
   max-width:586px;
}
.Apple-iphone .details .options , .Apple-iphone .details .options .opt{
    display:flex;
    flex-wrap: wrap; 
}
.Apple-iphone .details .options{
    gap: 32px;
    padding:16px 0;
}
.Apple-iphone .details .opt{
    gap:8px;
}
.Apple-iphone .details .box{
    display: flex;
    margin:10px 0;
/*     justify-content: space-between; */
}
.right-border{
    border-right: 1px solid #EEEEEE;
}
.Apple-iphone .details .btns {
    display: flex;
    justify-content: space-around;
    gap:8px;
}
.Apple-iphone .details .title ,  .Apple-iphone .details .box .price{
    font-size: 24px;
    font-weight: 400;
    line-height:35.28px ;
    color: #333333;
}
.Apple-iphone figure{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color:#666666;
}
.Apple-iphone .details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #666666;
}
.Apple-iphone .details .box .price{
    color: #333333;
}
.Apple-iphone .details .show{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #62D0B6;
    margin: 8px 0 24px 0;
}
.Apple-iphone .details .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 22.5px 16px;
    margin-bottom: 4px;
    flex-wrap: wrap;
    gap: 15px;
}
.Apple-iphone .details .box .leftside{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 383px;
}
.Apple-iphone .details .box .plus{
    width: 32px;
    height: 32px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Apple-iphone .details .box span{
    font-size: 16px;
    font-weight: 400;
    line-height:18.96px ;
    color:#333333 ;
}
.Apple-iphone .details .box p{
    font-size: 13px;
    font-weight: 400;
    line-height:15.41px ;
    color:#A5A5A5;
}
.Apple-iphone .details .box button{
   max-width: 95px;
    height: 38px;
    color:#62D0B6;
    background-color: #FFFFFF;
    padding: 10px;
font-size: 14px;
font-weight: 400;
border: 1px solid #62D0B6;
border-radius: 4px;
cursor: pointer;
}
.Apple-iphone .details .box .counter{
    font-size: 14px;
    color: #333333;
    padding: 13px 22px;
    cursor: pointer;
}
.no-border{
    border: none!important;
}

.Apple-iphone .details .box .leftsideborder{
    border: #EEEEEE 1px solid;
    border-radius: 4px;
}
.no-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.Apple-iphone .details .btns button{
    width: 285px;
    height: 56px;
    color: #FFFFFF;
    background-color: #62D0B6;
    border: 1px solid #62D0B6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.Apple-iphone .details .btns .add{
   background-color:#FFFFFF;
   color: #62D0B6;
}
.Apple-iphone .details .btns .svg-image{
    filter: brightness(0) invert(1);
}
.Apple-iphone .details .btns .svg-image2{
    filter:invert(94%) sepia(42%) saturate(432%) hue-rotate(107deg) brightness(90%) contrast(86%);
}
.similar-products{
    padding: 97px 70px 49px 70px;
}
.similar-products p{
font-size:24px;
font-weight:400 ;
line-height: 35px;
color: #333333;
}
.similar-products span{
    font-size:16px ;
font-weight:400 ;
line-height: 25px;
color: #666666;
}
.card-container{
    padding:0 70px 90px 70px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-container .product{
    width: 288.5px;
    height: auto; 
    border: 1px #EEEEEE solid;
    border-radius: 4px;
   }
.card-container .product:hover{
       border: #62D0B6 1px solid;
   }
   
    .card-container .product .image{
       width: 100%;
       height: auto;
       object-fit: contain;
       overflow: hidden;
       position: relative;
       text-align: center;
    }

    .aquacolor{
        color: #62D0B6;
    }
    .graycolor{
        color:#666666;
    }
    .greycolor2{
        color: #333333!important;
    }
    .card-container .information{
        padding: 16px;
     }
    .card-container figure  , .card-container .product .information .second ,.card-container .product .information .third{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.59px;
    }
    .card-container .product .information .first {
        font-size: 16px;
        font-weight: 400;
        color:#333333;
        line-height: 18.96px;
        padding:4px 0 4px 0;
    }
    .card-container .product .information .third{
        line-height: 24px;
        color: #A5A5A5;
        text-decoration: line-through;
       
    }
    .card-container span{
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color:#F55157 ;
    }
    .card-container .prices , .card-container .btns {
        display: flex;
        gap:8px;
    }
    .card-container .prices{
        padding-top: 4px;
    }
    .card-container .btns {
        padding:0 16px 16px 16px;
        
    }
    .card-container button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .card-container .likebtns{
    width: 50px;
    height: 56px;
    color:#A5A5A5;
    }
    .card-container .add{
 
    width: 299px;
    height: 56px;
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    
    }
    .card-container .add img{
        padding-left: 8px;
    }
    .card-container button:hover {
        font-size: 14px;
        color:#FFFFFF;
        background-color: #62D0B6;
        border: #62D0B6 1px solid;
        
    }
    .svg-image {
        transition: filter 0.3s ease;
    }
    .btns button:hover .svg-image {
        filter: brightness(0) invert(1);}
        .right-align{
            text-align: right;
        }
        footer .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 70px 32px 70px 26px;
            background-color: #F8F8F8;
            gap:10px;
        
        }
        footer .left{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:16px;
        }
        footer .msg{
            width: 64px;
            height: 64px;
            border:1px solid #D6F8F0;
            border-radius: 50%;
            background-color: #D6F8F0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer .top p{
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: #333333;
        }
        footer .top span{
            font-size: 14px;
            font-weight: 400;
            line-height: 16.59px;
            color: #666666;
        }
        footer form button{
            margin-left:8px;
            width: 90px;
            height: 39px;
            color:#FFFFFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.59px;
            background-color: #62D0B6;
            border: 1px solid #62D0B6;
            border-radius: 4px;
            cursor: pointer;
        }
        footer input{
            width: 352px;
            height: 39px;
            color: #A5A5A5;
            font-size: 14px;
            padding:16px;
            border:1px solid #EEEEEE;
            border-radius: 4px;
            margin: 5px;
        }
        footer .bottom{
            background-color: #1D1F1F;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        footer .bottom .right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        footer .bottom p{
            font-size: 14px;
            font-weight: 400;
            line-height: 16.59px;
            color: #F8F8F8;
            padding: 16px 70px;
        }
        footer .Company{
            max-width: 342.08px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap:10.21px;
        }
        footer .Company .company{
            width:81.69px;
        height: 31px;
        background-color: #FFFFFF;
        border:1px solid #FFFFFF;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        }

@media screen and (max-width:900px) {
    .nav1 {
        padding:5px 20px;
        gap: 10px
    }
    .nav1 ul{
        display:none;
    }
    .nav1 .bar{
        display: block;
    }
    .nav2{
        padding: 5px 20px;
    }
    .nav2 .logo{
        max-width: 80px ;
       }
       .container .info1{
        display:none;
    }
 .Apple-iphone .iphone-img , .Apple-iphone .details{
width: 100%;
min-width: 100%;
} 

.Apple-iphone{
    padding: 20px;
}
.Apple-iphone{
    flex-direction: column;
}
.Apple-iphone .details .title , .Apple-iphone .details .box .price{
    font-size: 20px;
}
.similar-products{
    padding: 20px;
}
.card-container{
    padding: 0;
}
footer .bottom{
    justify-content: center;

    
}

}
@media screen and (max-width:1299px){
    footer .bottom {
        justify-content: center;
    }
}
@media screen and (max-width: 615px) {
    footer form input{
        width: fit-content;
    }
    footer .bottom .Company{
        flex-direction: column;
padding: 10px;
    }
}
